/* body */

body{
    background-color: grey;
}

/* links */

.link1{
    color: purple;
}

.link2{
    color: orange;
}

a:visited{
    color:turquoise;
}

.link2:visited{
    color: yellowgreen;
}

a:hover{
    color:tomato !important;
}

.link1:focus{
    border:5px dotted black;
}

/* inputs */

.texto:focus{
    box-shadow: 0px 0px 5px 5px red;
}

.datos:focus{
    box-shadow: 0px 0px 5px 5px blue; 
}

#checkbox:checked + p{
 color: crimson;
}

/* option + ñ = ~ */